.nav {
  position: fixed;
  width: 100%;
  background-color: orange;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 7px solid rgb(255, 196, 0);
  color: rgb(68, 34, 9);
}
.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
.nav .nav__list-link {
  position: relative;
}

.nav__list-link i {
  padding: 15px;
  border-radius: 20px;
}

.nav .nav__badge {
  width: 17px;
  height: 17px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  background-color: red;
  position: absolute;
  top: -11px;
  right: -7px;
  border-radius: 10px;
}

.nav i {
  font-size: 20px;
}

.nav__list-item {
  padding: 0px;
  border-radius: 40px;
  background: orange;
  box-shadow: 6px 6px 12px #ad7000, -6px -6px 12px #ffda00;
}

.nav__list-item.pressed {
  box-shadow: inset 6px 6px 12px #ad7000, inset -6px -6px 12px #ffda00;
}
