@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

*{
    box-sizing:border-box;
}
body{
    background-color: white;
    padding:10px 20px;
    columns: #020202;
    height: 1000px;
}

a {
    color: inherit;
}